.default
{
	display: none;
}

#feedbackform
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	height: 80%;
}

select
{
	border-radius:5px;
  border:1px solid #000000;
}

#radios
{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}