.default
{
	display: none;
}

#feedbackform
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	height: 80%;
}

select
{
	border-radius:2px;
  border:1px solid #000000;
}

#radios
{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=text]
{
  padding: 12px 20px;
  align-self: center;
  width:100%;
}

h2
{
	text-align: center;
}