body,html
{
  margin:0;
  padding:0;
  width:100%;
}

#navbar
{
  display: flex;
  width:100%;
  height: 8vh;
  justify-content: left;
  align-items: center;
  position: fixed;
  top:0;
  background-color: black;

}

.navitem
{
  color:white;
  padding:2vw;
  text-decoration: none;
}

.navitem:hover
{
  transform: scale(1.1);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  width: 90vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:12vh;
  justify-content: space-around;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

img {
  
  border-radius: 5px 5px 0 0;
  width:50%;
  height: 40%;
  margin-top:15px;
}
.loginCon{
  display: flex;
  width: 100vw;
  align-items:space-between;
  justify-content: center;
  height: 80vh;
  
}

#login-area
{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type=text]
{
  padding: 12px 20px;
  margin: 12px;
  box-sizing: border-box;
  width:70%;
}
input[type=text]:focus {
  border: 3px solid #555;

}

input[type=password]
{
  padding: 12px 20px;
  margin: 12px;
  box-sizing: border-box;
  width:60%;
}
input[type=password]:focus {
  border: 3px solid #555;

}

.btn {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
  background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
  background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
  background:-o-linear-gradient(top, #000000 5%, #000000 100%);
  background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
  background:linear-gradient(to bottom, #000000 5%, #000000 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
  background-color:#000000;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Courier New;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
.btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
  background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
  background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
  background:-o-linear-gradient(top, #000000 5%, #000000 100%);
  background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
  background:linear-gradient(to bottom, #000000 5%, #000000 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
  background-color:#000000;
}
.btn:active {
  position:relative;
  top:1px;
}

@media only screen and (min-width: 900px) {
  .card 
  {
    width: 35vw;
  }
  .navitem
  {
  	padding:20px;
  }
}


