<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/adminDashboard.css">
  <title>Admin Dashboard</title>
</head>
<body>  
  <div id = "navbar">
    <a href="navbar.html" class = "navitem">Home</a>
    <a href="navbar.html" class = "navitem">Dashboard</a>
    <a href="navbar.html" class = "navitem">Feedback</a>
  </div>
    <div class="teacherbtncont">
      <input type="submit" class="teacherbtn" value="Add Teacher" />
      <input type="submit" class="teacherbtn" value="Remove Teacher" />
    </div>
  <div class="pie">
    <img src="../images/graphplaceholder.png" class="graph" />
  </div>

<div class="tableData">
  <table>
    <tr>
      <th>Teacher's Name</th>
      <th>Positive points</th>
      <th>Neutral Points</th>
      <th>Negative points</th>
      
    </tr>
    <tr>
      <td>Jill</td>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Ram</td>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
  </table>
</div>

</body>
</html>