<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/adminDashboard.css">
  <link rel="stylesheet" href="../css/common.css">
  <title>Admin Dashboard</title>
</head>
<body>  
  <div id = "navbar">
    <a href="../index.html" class = "navitem">Home</a>
    <a href="adminDashboard.html" class = "navitem">Dashboard</a>
    <a href="feedback.html" class = "navitem">Feedback</a>
  </div>
    <div class="teacherbtncont">
      <!-- <form action="addteacher.html"> -->
      <input type="submit" class="teacherbtn" value="Add Teacher" />
      <!-- </form> -->
      <!-- <form action="removeteacher.html"> -->
      <input type="submit" class="teacherbtn" value="Remove Teacher" />
      <!-- </form> -->
    </div>
    <div  class="pieContainer">
        <div class="pieBackground"></div>
        <div id="pieSlice1" class="hold"><div class="pie"></div></div>
        <div id="pieSlice2" class="hold"><div class="pie"></div></div>
   </div>

<div class="tableData">
  <table>
    <tr>
      <th>Teacher's Name</th>
      <th>Positive points</th>
      <th>Neutral Points</th>
      <th>Negative points</th>
    </tr>
    <tr>
      <td>Ram</td>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Neel</td>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Sudeep</td>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
  </table>
</div>

</body>
</html>