<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/password.css">
  <title>LOGIN IN</title>
</head>
<body>
  <div class="loginCon">
    <div class="card">
      <img src="../images/faculty.png" alt="Avatar" >
      <div class="container">
        <input type="text" class="" placeholder="Enter password" onclick="validate()"/>
        <input type="submit" class="btn" value="Login" />
      </div>
    </div>
  </div>
</body>
</html>