<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/common.css">
  <script>
    var wrong = true;
        function check()
        {
          var password = document.getElementById('pass');
          if(password.value == "admin")
            window.location.href="adminDashboard.html"
          else if(password.value == "teacher")
            window.location.href="teachersDashboard.html"
          else
            if(wrong==true)
            {
              document.getElementById('login-area').innerHTML= "<p style='color:red'>Incorrect Password</p>"+document.getElementById('login-area').innerHTML;
              wrong=false;
            }
        }
      </script>
  <title>Login</title>
</head>
<body>
  <div class="loginCon">
  <div id = "navbar">
    <a href="../index.html" class = "navitem">Home</a>
    <a href="adminDashboard.html" class = "navitem">Dashboard</a>
    <a href="feedback.html" class = "navitem">Feedback</a>
  </div>
 <div class="card">
    <img src="../images/faculty.png" alt="Avatar" >
  
      
      <div id="login-area">
      <input type="password" name="password" placeholder="Password" id="pass">
      </div> 
      <div id="submit">
      <center>

      <input type="submit" class="btn" value="Login" onclick="check()" />
     
      
    </center>
  </div>
    </div>
  </div>
</body>
</html>