<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/teachersDashboard.css">
  <link rel="stylesheet" href="../css/common.css">
  <title>Teachers Dashboard</title>
</head>
<body>  
  <div id = "navbar">
    <a href="../index.html" class = "navitem">Home</a>
    <a href="adminDashboard.html" class = "navitem">Dashboard</a>
    <a href="feedback.html" class = "navitem">Feedback</a>
  </div>

  <div class="autocomplete">
    <input id="myInput" type="text" name="searchSub" placeholder="Search Faculties">
  </div>

  <div class="pie">
    <img src="../images/graphplaceholder.png" class="graph" />
  </div>

<div class="tableData">
  <table>
    <tr>
      <th>Positive points</th>
      <th>Neutral Points</th>
      <th>Negative points</th>
      
    </tr>
    <tr>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
  </table>
</div>

</body>
<script>
  var name = ["Ram","Neel","Sudeep"]
  
</script>
</html>