<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="./images/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/teachersDashboard.css">
  <link rel="stylesheet" href="../css/common.css">
  <title>Teachers Dashboard</title>
</head>
<script>
  console.log(window.localStorage.getItem('user1'))
  if(!window.localStorage.getItem('user1')){
    window.location.href="../index.html"
  }
</script>
<body>  
  <div id = "navbar">
    <a href="../index.html" class = "navitem">Home</a>
    <a href="adminDashboard.html" class = "navitem">Dashboard</a>
    <a href="feedback.html" class = "navitem">Feedback</a>
    <a href="../index.html" class = "navitem">Logout</a>
  </div>

  <div class="autocomplete">
      <div class="styled-select slate">
          <select>
            <option>Select Subject</option>
            <option>Engineering Drawing</option>
            <option>Physics</option>
            <option>Chemistry</option>
          </select>
        </div>        
  </div>

  <div  class="pieContainer">
      <div class="pieBackground"></div>
      <div id="pieSlice1" class="hold"><div class="pie"></div></div>
      <div id="pieSlice2" class="hold"><div class="pie"></div></div>
 </div>
 
<div class="tableData">
  <table>
    <tr>
      <th>Positive points</th>
      <th>Neutral Points</th>
      <th>Negative points</th>
    </tr>
    <tr>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
    <tr>
      <td>60</td>
      <td>30</td>
      <td>10</td>
    </tr>
  </table>
</div>

</body>

</html>